.header {
    border-bottom: 1px solid gray;
    padding-left: 10px;
    padding-right: 100px;
    color: lightgray;
    font-size: 16px;
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    background-color: #29313b;
    display: flex;
    justify-content: space-between;
    user-select: none;

	@media (min-width: 1024px) {
		font-size: 18px;		
	}
}

.menu {
    margin-right: 30px;
	cursor: pointer;
    @media (min-width: 1024px) {
        display: none;
    }
}

.icon {
	margin-bottom: -3px;
}