@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}
