.round-time-bar div {
    animation: roundtime 3s linear forwards;
    height: 5px;
    background: linear-gradient(to bottom, #1877f2, #1877f2);
    transform-origin: left center;
    border-color: black;
    text-align: left;
}

@keyframes roundtime {
    to {
        transform: scaleX(0);
    }
}
