.section {
    &:not(:first-of-type) {
        margin-top: 30px;
    }
}

.h2 {
    text-align: center;
}

.img {
    display: block;
    text-align: center;
    margin: 30px auto;
	width: min(100%, 600px);
	height: min(100%, 200px)
}
